section.content
  .container
    .content-wrap
      .content__text-description
        h1 Ой!
        h2 Вы застали нас врасплох!
        h3 
          |В данный момент наши специалисты <span>работают 
          br 
          |над обновлением</span> программного обеспечения.
        p
          |Период обновления по регламенту — 30 минут, но обычно
          br
          |происходит гораздо быстрее. Пожалуйста, наберитесь терпения
          br
          |и возвращайтесь через несколько минут.
        button.btnReload Обновить страницу 
        span.timer(data-mytimer="03:00") 
      img.content__img(src='./dist/images/content-img.jpg')