footer.footer
  .container
    .footer-wrap
      span © Gorodkvadratov
      .link
        a(href="#")
          <i class="fa fa-vk" aria-hidden="true"></i>
        a(href="#")
          <i class="fa fa-facebook" aria-hidden="true"></i>