extends ../layout/base 

block variables
  - var title = 'Technical works'
  - var description = 'Technical works'


block content
  include ../includes/header.pug

  include ../includes/content.pug
  
  include ../includes/footer.pug