.content {
    flex: 1 0 auto;
    border-bottom: 1px solid #ECECF0;

    & .container {
    }

    & .content-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .content__text-description {
        
        & h1 {
            font-family: 'Conv_Lato-Bold',Sans-Serif;
            font-size: 90px;
            margin-top: -6px;
            line-height: 108px;
            color: #35373B;
        }

        & h2 {
            font-family: 'Conv_Lato-Bold',Sans-Serif;
            font-size: 32px;
            line-height: 38px;
            margin-top: 19px;
            color: #35373B;
        }

        & h3 {
            font-weight: normal;
            font-size: 22px;
            margin-top: 17px;
            line-height: 29px;
            color: #35373B;

            & span {
                border-bottom: 1px solid #000;
                padding-bottom: 2px;
            }
        }

        & p {
            font-weight: normal;
            margin-top: 28px;
            margin-left: 3px;
            font-size: 15px;
            line-height: 152.16%;
            color: #828282;
        }

        & button {
            margin-top: 52px;
            margin-left: 3px;
            padding-right: 3px;
            width: 196px;
            height: 54px;
            background: #4073FF;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 15px;
            line-height: 57px;
            color: #FFFFFF;
        }
        & button:focus {
            outline: none;
        }

        & .timer {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: normal;
            margin-left: 25px;
            font-size: 22px;
            line-height: 26px;
            color: #4073FF;
        }
    }
}

@media (max-width: 950px) {
    .content {


        & .content__text-description {
            margin: 0 auto;
        }

        & .content__img {
            display: none;
        }
    }
}
@media (max-width: 620px) {
    .content {
        padding-bottom: 30px;
    }
}
